* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #f2f2a0;
}

.topbar {
    overflow: hidden;
    position: fixed;
    background-color: hsl(216, 15%, 68%);
    padding: 15px;
}

.search-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
}

.search-form {
    border-radius: 30px 0 0 30px;
}

input-group-btn {
    max-width:38px;
}

input {
    height: 38px;
    width: 450px;
    outline: none;
    padding: 5px;
    position: relative;
    top: 40%;
}

#search {
    border: 1px;
    font-size: 16px;
    font-family: Poppins;
    padding: 15px;
    text-align: center;
}

#search:hover {
    background-color: #faefef;
}

.search-btn {
    height: 38px;
    cursor:pointer;
    position: relative;
    outline: none;
    top: 40%;
    border: 1px;
    border-radius: 0 30px 30px 0; 
    background-color:#fff;
    color:#648081;
}

.search-btn:hover {
    color: #aec6c7;
}

.topbar-centered {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topbar-left {
    float: left;
    position: relative;
}

.topbar-right {
    float: right;
    position: relative;
}

#logo {
    width: 10%;
    height: 2%;
    position: relative;
    top: 0%;
    left: 20%;
    margin-top: -50px;
}

#h {
    margin-right: 375px;
    margin-top: -15px;
    position: absolute;
    top: -8%;
    right: 5%;
    font-size: 26px;
    color: #d1e7e7;
}

#h:hover {
    color: white;
}

#h:visited {
    color: white;
}

#f {
    margin-right: 325px;
    margin-top: -14px;
    position: absolute;
    top: -8%;
    right: 5%;
    font-size: 24.5px;
    color: #d1e7e7;
}

#f:hover {
    color: white;
}

#f:visited {
    color: white;
}

#ac {
    margin-right: 275px;
    margin-top: -15px;
    position: absolute;
    top: -8%;
    right: 5%;
    font-size: 23px;
    color: #d1e7e7;
}

#ac:hover {
    color: white;
}

#ac:visited {
    color: white;
}

#covp {
    width: 100%;
    height: 60%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(230, 230, 230, 0.651);
    box-shadow:3px 1px 8px rgba(255,255,255,.5),3px 2px 8px rgba(0,0,0,.1)
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(230, 230, 230);
    width: 35%;
}

#hpop {
    text-align: center;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 900%;
    color: #f2f2a0;
}

.input-field  {
    display:flex;
    flex-direction:column;
    gap:5px;
    width:100%;
    margin-bottom:15px;
}

.error {
    border: 1px solid red;
}

input[type="email"],input[type="password"] {
    padding:20px;
    border-radius:5px;
    border:1px solid transparent;
    background:hsl(210, 38%, 95%);
    line-height: 24px;
    width: 85%;
    margin-left: 8%;
    outline:none;
    font-size: 16px;
    font-family: Poppins;
}

input[type="email"]:focus,input[type="password"]:focus {
    border:1px solid #b0c2c2;
  /*   border-radius:5px; */
}
  

.action a {
    border-color:hsl(214, 32%, 91%);
    color:hsl(220, 26%, 14%);
    font-family:Nunito;
    font-size:14px;
    gap:normal;
    line-height:21px;
    text-transform:capitalize;
}
  
.btn2 {
    padding:5px 30px;
    align-items: flex-start;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-family: Poppins;
    font-size:14px;
    font-weight:600;
    outline: none;
}

.btn2:hover {
    background:#f2f2a0;
    border: 1px solid beige;
}

.btn3 {
    padding:5px 35px;
    align-items: flex-start;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-family: Poppins;
    font-size:14px;
    font-weight:600;
    outline: none;
}

.btn3:hover {
    background:#f2f2a0;
    border: 1px solid beige;
}

.btn4 {
    margin-top: 15px;
    padding:5px 30px;
    align-items: flex-start;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-family: Poppins;
    font-size:14px;
    font-weight:600;
    outline: none;
}

.btn4:hover {
    background:#f2f2a0;
    border: 1px solid beige;
}

#btn2 {
    margin-top: 3%;
    margin-left: 23%;
}

#btn3 {
    margin-left: 5%;
}

#btn4 {
    margin-left: 35%;
}

a {
    text-decoration:none;
}

#hr1 {
    width: 65%; 
    text-align: center; 
    border-bottom: 1px solid #88b1b3; 
    line-height: 0.1em;
    margin: 50px 75px 35px ; 
} 
 
#hr1 span { 
    font-family: Poppins;
    letter-spacing: 0.25mm;
    color: #88b1b3;
    background:#fff; 
    padding:0 10px; 
}

.create {
    position: relative;
    padding: 15px;
    top: 5%;
    left: 17%;
    width: 64%;
    height: 12.5%;
    background-color: white;
    border-radius: 30px 30px 30px 30px; 
    box-shadow:3px 1px 8px rgba(255,255,255,.5),3px 2px 8px rgba(0,0,0,.1);
    color: #648081;
    font-size: 22px;
}

#cr {
    padding: 10px;
    font-size: 32px;
    color: hsl(216, 15%, 68%);
    position: relative;
    left: 38%;
}

#tell {
    font-size: 22px;
    font-family: Poppins;
    font-weight: 300;
    color: hsl(216, 15%, 68%);
    position: relative;
    top: -5px;
    left: 38%;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(230, 230, 230, 0.651);
    box-shadow:3px 1px 8px rgba(255,255,255,.5),3px 2px 8px rgba(0,0,0,.1)
}

.modal2-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0px;
    border: 1px solid rgb(230, 230, 230);
    width: 70%;
    min-height: 30%;
}


#hr2 {
    width: 100%; 
    border-bottom: 1px solid #dbdbdb; 
    line-height: 0.1em;
    position: relative;
    top: 35%;
} 

#tt {
    display: block;
    margin: auto auto;
    width: 100%;
    margin-top: 7%;
    padding-left: 9%;
    border: none;
    color: none;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 700;
    letter-spacing: 0.2em;
}

#tt:focus {
    outline: none;
}

#tt:hover {
    color: none;
}

textarea {
    padding-left: 9%;
    padding-top: 4%;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
    font-family: Poppins;
    cursor:pointer;
}

.btn5 {
    padding:5px 30px;
    align-items: flex-start;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-family: Poppins;
    font-size:14px;
    font-weight:600;
    outline: none;
}

.btn5:hover {
    background:#f2f2a0;
    border: 1px solid beige;
}

#btn5 {
    margin-top: 2%;
    margin-left: 70%;
    margin-bottom: 2%;
}

.btn6 {
    padding:5px 35px;
    align-items: flex-start;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    font-family: Poppins;
    font-size:14px;
    font-weight:600;
    outline: none;
}

.btn6:hover {
    background:#f2f2a0;
    border: 1px solid beige;
}

#btn6 {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

#ht {
    color: #b0c2c2;
    font-size: 14px;
    font-family: Poppins;
    border: none;
    outline: none;
    width: 100%;
    padding-left: 9%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}













